# Firebase Configuration
FIREBASE_API_KEY=your-firebase-api-key
FIREBASE_AUTH_DOMAIN=your-firebase-auth-domain
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_STORAGE_BUCKET=your-firebase-storage-bucket
FIREBASE_MESSAGING_SENDER_ID=your-firebase-messaging-sender-id
FIREBASE_APP_ID=your-firebase-app-id

# Admin User Credentials
ADMIN_EMAIL=admin@yourdomain.com  # The email for the admin user to create
ADMIN_PASSWORD=YourSecurePassword123!  # The password for the admin user

# Admin Panel URL
ADMIN_PANEL_URL=https://fs-sports-clubv2.onrender.com/adminlogin  # Change to your deployed URL if needed

# Razorpay Configuration
VITE_RAZORPAY_KEY_ID=your_razorpay_key_id

# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key

# Server Configuration
PORT=4525
NODE_ENV=development 
